@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
}

:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-gray: hsl(234, 29%, 20%);
    --charcoal-gray: hsl(235, 18%, 26%);
    --gray: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--charcoal-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-inline: 20px;

}

.signup_form {
    border-radius: 2.25rem;
    box-shadow: 0 15px 60px #00000040;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    max-width: 928px;
}

.success_form {
    border-radius: 2.25rem;
    box-shadow: 0 15px 60px #00000040;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 4rem;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    max-width: 500px;
}

.info {
    width: 450px;
}

.forward {
    font-weight: bold;
}


.illustration_img {
    width: 470px;
}

.title {
    font-size: 56px;
}

.description {
    margin-block: 1rem;
    line-height: 1.5;
}

.line {
    margin-block: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons {
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}


.email_address {
    font-size: 12px;
    color: #000;
    font-weight: 1000;
    margin-top: 2rem;
}

.labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    font-size: 12px;
    color: var(--tomato);
    font-weight: bold;
    display: inline;
    margin-top: 2rem;
}

.input {
    width: 100%;
    font-family: inherit;
    border-radius: 5px;
    padding: 17px;
    border: 1px solid var(--gray);
    font-size: 15px;
    margin: .5rem 0 1.5rem 0;
}

.btn {
    width: 100%;
    font-family: inherit;
    border-radius: 5px;
    padding: 17px;
    background-color: var(--charcoal-gray);
    color: #fff;
    font-size: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease;
}

.btn:hover {
    background-color: var(--tomato);
}

.attribution {
    color: #fff;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 13px;
}

.attribution a {
    color: var(--tomato);
}